<div class="dashboard-container">
    <div class="dashboard-page">

      <ngx-widget-grid [rows]="rows" [columns]="cols" [highlightNextPosition]="false" #grid [showGrid]="true" 
        (gridFull)="onGridFull($event)" (widgetPositionChange)="onWidgetChange($event)">

        <ngx-widget *ngFor="let widget of widgets;let $index = index;"
                    [position]="widget"
                    [movable]="editable"
                    [resizable]="editable"
                    [swapOnMove]="editable"
                    >
            <div style="height:100%;width:100%; display:flex;">
              <div class="my-widgets" style="height:100%;width:100%; padding:10px;"
                [ngStyle]="{'background-color':widget.color}">
                <ion-icon name="close-outline" class="deleteButton" (click)="askDeleteWidget($index)" *ngIf="editable"></ion-icon>
                <div>
                  {{widget.text}}
                </div>
              </div>
            </div>
        </ngx-widget>
      </ngx-widget-grid>
    </div>
</div>