<div class="dashboard-container">
  <div class="dashboard-page">

    <ngx-widget-grid [rows]="rows" [columns]="cols" [highlightNextPosition]="false" 
      #grid [showGrid]="true" (gridFull)="onGridFull($event)" 
      (widgetPositionChange)="onWidgetChange($event)">

      <ngx-widget *ngFor="let widget of widgets;let $index = index;" [ngSwitch]="widget.text"
        [position]="widget" [movable]="editable" [resizable]="editable" [swapOnMove]="editable">

          <app-clock *ngSwitchCase="'clock'" [editable]="editable" (delete)="askDeleteWidget($index)"></app-clock>
          <app-weather *ngSwitchCase="'weather'" [editable]="editable" [size]="[widget.width, widget.height]" (delete)="askDeleteWidget($index)"></app-weather>
          
          <div *ngSwitchDefault>
            <ion-icon name="close-outline" class="deleteButton" (click)="askDeleteWidget($index)" *ngIf="editable"></ion-icon>
          </div>
           
        </ngx-widget>
      </ngx-widget-grid>
    </div>
</div>