<ion-header>
  <ion-toolbar>
    <span>myEverything</span>
  
  <ion-buttons slot="end">
      
      <ion-button (click)="presentAddWidgetPopover($event)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-popover #addWgdtPopover [isOpen]="isAddWdgtPopoverOpen" (didDismiss) = "isAddWdgtPopoverOpen = false">
        <ng-template>
          <ion-list lines="full">
            <ion-item (click)="addWidget('clock')">
              <ion-label>Add Clock</ion-label>
            </ion-item>
            <ion-item (click)="addWidget('weather')">
              <ion-label>Add Weather</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>

      <ion-button (click)="editWidgets()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>