<ion-header>
  <ion-toolbar>
    <span>myEverything</span>
  
  <ion-buttons slot="end">
      <ion-button (click)="addWidget()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="editWidgets()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>