<div style="height:100%;width:100%; display:flex;">
  <ion-icon name="close-outline" class="deleteButton" (click)="askDeleteWidget()" 
    *ngIf="editable"></ion-icon>
  <div class="dummy-card">
  <div class="clock">
    <div class="num num1">1</div>
    <div class="num num2">2</div>
    <div class="num num3">3</div>
    <div class="num num4">4</div>
    <div class="num num5">5</div>
    <div class="num num6">6</div>
    <div class="num num7">7</div>
    <div class="num num8">8</div>
    <div class="num num9">9</div>
    <div class="num num10">10</div>
    <div class="num num11">11</div>
    <div class="num num12">12</div>
    <div class="hr-hand" #hrHand></div>
    <div class="min-hand" #minHand></div>
    <div class="sec-hand" #secHand></div>
  </div>
</div>

</div>
